#projects {
  padding: 10rem 2rem;
}

ul a:hover{
  text-decoration: underline;
}

#footer {
  padding-top: 10rem;
}

.head {
  padding: 10rem 2rem;
  text-align: center;
}

.section-color {
  background: #EBF4FF;
}

.section-color-grey {
  background: #FAFAFA;
}

.section-padding {
  padding-top: 10rem;
  padding-bottom: 10rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.card-tag {
  font-size: .7rem;
  color: #979797;
}

.card-paragraph-font-size {
  font-size: .8rem;
}

.card-link-font-size {
  font-size: .9rem;
}

.img-border {
  border-radius: 10%;
}

.img-border-radius-30px {
  border-radius: : 30px;
}

.img-75 {
  max-width: 75%;
  align-self: center;
}

.img-60 {
  max-width: 60%;
  align-self: center;
}

.img-46 {
  max-width: 46%;
  align-self: center;
}

.img-30px {
  max-width: 30px;
}

.footer-index {
  background: #EBF4FF;
}

.footer-text {
  font-size: .7rem;
  color: #979797;
}

.my-text-muted {
  color: #888888;
}